/.vs/grass/FileContentIndex/1e8fcda7-bb00-4d59-9b86-4d2aa3fb8922.vsidx
/.vs/grass/FileContentIndex/a86e969e-ef21-416c-8cb8-1003561f7a0a.vsidx
/.vs/grass/FileContentIndex/eac4e86c-8d90-4776-8ac9-4d16d7a4beb8.vsidx
/.vs/grass/v17/.futdcache.v2
/.vs/grass/v17/.suo
/.vs/grass/v17/DocumentLayout.backup.json
/.vs/grass/v17/DocumentLayout.json
/bin/Debug/net6.0-windows/grass.deps.json
/bin/Debug/net6.0-windows/grass.dll
/bin/Debug/net6.0-windows/grass.exe
/bin/Debug/net6.0-windows/grass.pdb
/bin/Debug/net6.0-windows/grass.runtimeconfig.json
/.vs/grass/DesignTimeBuild/.dtbcache.v2
/.vs/grass/FileContentIndex/bcd9b901-d69c-47f4-92ff-1cb424c749ce.vsidx
/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0-windows/apphost.exe
/obj/Debug/net6.0-windows/grass.AssemblyInfo.cs
/obj/Debug/net6.0-windows/grass.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/grass.assets.cache
/obj/Debug/net6.0-windows/grass.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0-windows/grass.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0-windows/grass.csproj.FileListAbsolute.txt
/obj/Debug/net6.0-windows/grass.csproj.GenerateResource.cache
/obj/Debug/net6.0-windows/grass.designer.deps.json
/obj/Debug/net6.0-windows/grass.designer.runtimeconfig.json
/obj/Debug/net6.0-windows/grass.dll
/obj/Debug/net6.0-windows/grass.Form1.resources
/obj/Debug/net6.0-windows/grass.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/grass.genruntimeconfig.cache
/obj/Debug/net6.0-windows/grass.GlobalUsings.g.cs
/obj/Debug/net6.0-windows/grass.pdb
/obj/Debug/net6.0-windows/grass.Properties.Resources.resources
/obj/Debug/net6.0-windows/grass.sourcelink.json
/obj/Debug/net6.0-windows/ref/grass.dll
/obj/Debug/net6.0-windows/refint/grass.dll
/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
/obj/grass.csproj.nuget.dgspec.json
/obj/grass.csproj.nuget.g.props
/obj/grass.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/grass/DesignTimeBuild/.dtbcache.v2
/.vs/grass/FileContentIndex/11baacc2-94cd-4891-a6d1-fc13711daba0.vsidx
/.vs/grass/FileContentIndex/75d88e00-05d0-4864-8b88-7ad0c1224049.vsidx
/.vs/grass/FileContentIndex/96a9aefa-e7c1-4dce-8f04-bc0103567a39.vsidx
